.header-container{
    background-color: #ffcd9e;
    display: flex;
    padding: 50px 100px 50px 100px;
    
   
}
.header{
    height: 70vh;
	display: flex;
	flex-direction: row;
   
}
.left{
     width: 50%;
}

.right{
    width: 75%;
    padding: 50px 50px 50px auto;
}

.dweep{
    display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}



h1 {
	font-size: 36px;
	font-weight: 700;
	line-height: 150%;
}

h4{
    font-size: 20px;
    font-weight: 500px;
    line-height: 160%;
    color:  #484848;
}

input{
    padding: 10px;
	color: #888888;
	width: 60%;
	border: 4px solid black;
	border-radius: 8px;
	font-weight: 600;
	font-style: 20px;
	line-height: 160%;
}

button{
    background-color: black;
	color: white;
	font-weight: 700;
	border-radius: 8px;
	font-weight: 700;
	font-style: 20px;
	line-height: 160%;
	padding: 1rem 2rem;
}

.register {
	display: flex;
	justify-content: space-between;
}

.free{
	font-size: 16px;
	font-weight: 500;
	line-height: 160%;
	color: white;
}